// Line Drawing
.line-draw {
    transform: translate(0, 1000px) scale(0.1, -0.1);
    fill: #000;

    // Toe Beans
    .toe-bean {
        fill: #fd9ba1;
    }

    // Paw Background
    .paw-bg {
        fill: #fff;
    }

    // Paw Impact Lines
    .impact {
        fill: #b11026;
    }
}
