@use 'sass:map';

$dimensions: (
    width: 1000,
    height: 1000,
);
@function dimensions($id) {
    @return map.get($dimensions, $id);
}

$durations: (
    anim-tick: 3s,
);
@function durations($id) {
    @return map.get($durations, $id);
}

$colors: (
    bg: #fff,
    cat-bg: #fff,
    cat-outline: #000,
    cat-toe-bean: #fd9ba1,
    impact: #b11026,
);
@function colors($id) {
    @return map.get($colors, $id);
}
