@use 'sass:map';

$dimensions: (
    width: 1000,
    height: 1000,
);
@function dimensions($id) {
    @return map.get($dimensions, $id);
}

$durations: (
    anim-tick: 3s,
);
@function durations($id) {
    @return map.get($durations, $id);
}

$themes: (
    light: (
        bg: #fff,
        outline: #000,
        text: #666,
        // Cat
        cat-bg: #fff,
        cat-outline: #000,
        cat-toe-bean: #fd9ba1,
        impact: #b11026,
        // Taiko
        tk-outline: #000,
        tk-batter: #f84727,
        tk-rim: #fff,
        tk-body: #68c0c0,
    ),
    dark: (
        bg: #333,
        outline: #fff,
        text: #eee,
        // Cat
        cat-bg: #333,
        cat-outline: #fff,
        cat-toe-bean: #fd9ba1,
        impact: #b11026,
        // Taiko
        tk-outline: #000,
        tk-batter: #68c0c0,
        tk-rim: #fff,
        tk-body: #f84727,
    ),
);
@function colors($id, $theme: light) {
    $colors: map.get($themes, $theme);
    @return map.get($colors, $id);
}
