@use 'sass:map';

$dimensions: (
    width: 1000,
    height: 1000,
);
@function dimensions($id) {
    @return map.get($dimensions, $id);
}

$durations: (
    anim-tick: 3s,
);
@function durations($id) {
    @return map.get($durations, $id);
}

$themes: (
    light: (
        bg: #fff,
        outline: #000,
        text: #1b1817,
        // Cat
        cat-bg: #fff,
        cat-face: #000,
        cat-outline: #000,
        cat-toe-bean: #fd9ba1,
        impact: #b11026,
        // DualShock4
        ds4-shadow: drop-shadow(0 12px 20px rgba(0, 0, 0, 0.4)),
        ds4-glow: rgba(60, 80, 226, 0.15),
        // Taiko
        tk-outline: #000,
        tk-batter: #f84727,
        tk-rim: #fff,
        tk-body: #68c0c0,
        //
        // Light Theme Only
        //
        // Charmander
        charm-bg: #ff8801,
        charm-outline: #212a2c,
        charm-belly: #ffe490,
        charm-flame-shade1: #af4d30,
        charm-flame-shade2: #ff8e14,
        charm-flame-shade3: #ffc414,
        // Pikachu
        pika-bg: #ffdf4e,
        pika-outline: #212a2c,
        pika-dimple: #fa5e31,
        pika-back-stripe: #d6793e,
        pika-tail-shade: #9d5236,
    ),
    dark: (
        bg: #333,
        outline: #fff,
        text: #eee,
        // Cat
        cat-bg: #333,
        cat-face: #fff,
        cat-outline: #fff,
        cat-toe-bean: #fd9ba1,
        impact: #b11026,
        // DualShock4
        ds4-shadow: drop-shadow(0 12px 20px rgba(133, 154, 254, 0.2)),
        ds4-glow: rgba(60, 80, 226, 0.3),
        // Taiko
        tk-outline: #000,
        tk-batter: #68c0c0,
        tk-rim: #fff,
        tk-body: #f84727,
    ),
);
@function colors($id, $theme: light) {
    $colors: map.get($themes, $theme);
    @return map.get($colors, $id);
}
