@use "~/src/defs/utils";

.accDS4 {
    transform: translate(160px, 500px) rotate(7deg);
    @include utils.dynamic-color-property(filter, ds4-shadow);
    image {
        width: 576px;
        height: 270px;
    }
    ellipse {
        transform: translate(180px, 250px) rotate(7deg);
        @include utils.dynamic-color-property(fill, ds4-glow);
    }
}
