@use '~/src/defs/utils';
@use '~/src/defs/values';

.accTaiko {
    transform: scale(2);

    .body {
        @include utils.dynamic-color-property(fill, tk-body);
        fill: values.colors(tk-body);
    }

    .rim {
        @include utils.dynamic-color-property(fill, tk-rim);
        @include utils.dynamic-color-property(stroke, tk-outline);
    }

    .batter {
        @include utils.dynamic-color-property(fill, tk-batter);
    }

    .bodyOutline,
    .topOutline {
        @include utils.dynamic-color-property(stroke, tk-outline);
        fill: none;
    }
}
