@use "~/src/defs/utils";
@use "~/src/defs/values";

.accTaiko {
    transform: scale(2);

    .body {
        fill: values.colors(tk-body);
        @include utils.dynamic-color-property(fill, tk-body);
    }

    .rim {
        @include utils.dynamic-color-property(fill, tk-rim);
        @include utils.dynamic-color-property(stroke, tk-outline);
    }

    .batter {
        @include utils.dynamic-color-property(fill, tk-batter);
    }

    .bodyOutline,
    .topOutline {
        fill: none;
        @include utils.dynamic-color-property(stroke, tk-outline);
    }
}
