@use '~/src/defs/values';
@use '~/src/defs/utils';

.tailOutline {
    @include utils.dynamic-color-property(stroke, cat-outline);
    fill: none;
}

.lineDraw {
    @include utils.dynamic-color-property(fill, cat-outline);
}

.toeBean {
    fill: none;
}

.pawBg {
    fill: values.colors(pika-bg);
}

.impact {
    @include utils.dynamic-color-property(fill, impact);
}

#face {
    fill: values.colors(pika-outline);
}
