@use '~/src/defs/values';

#bg {
    width: 100%;
    height: 100%;
    fill: values.colors(bg);
}

#table {
    stroke: values.colors(outline);
    stroke-width: 10px;
}

#sig {
    fill: values.colors(text);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    font-weight: bolder;
    text-anchor: end;
}
